@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    font-family: "Cairo", sans-serif;
}

.container7 {
    box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    width: 100vw;
    
    /* margin-left: 3rem; */
}

.container7 .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    
}

.container7 .row1 .logo-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.container7 .row1 .logo-container img {
    margin-right: 10px;
}

.container7 .row1 .right {
    display: flex;
    gap: 10px;
}

.container7 .row1 .right button {
    border: none;
    background: none;
}

.container7 .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 50px; */
    text-align: center;
}

.container7 .row2 .title {
    color: #3C4242;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.container7 .row2 form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container7 .row2 .input {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 40px;
    flex: 1;
    max-width: 400px;
    border: 1px solid #ccc;
}

.container7 .row2 .btn {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 40px;
    background-color: #3C4242;
    color: #fff;
    border: none;
}

.container7 .row2 .btn:hover {
    background-color: #FEA930;
    color: #3C4242;
}

.container7 .row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.container7 .row3 a {
    text-decoration: none;
    color: #9c9c9c;
    font-size: 1.2rem;
    position: relative;
}

.container7 .row3 .link2::before,
.container7 .row3 .link3::before {
    content: "|";
    margin-right: 10px;
}

.container7 .footer {
    text-align: center;
}

.container7 .footer p {
    font-size: 1.2rem;
    color: #9c9c9c;
}
