@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
    font-family: "Cairo", sans-serif;
}

.container2 {
    width: 90vw;
    margin: auto 0 !important;
    margin-bottom: 300px !important;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.col {
    flex: 1;
    padding: 20px;
}

.shape {
    background-color: #FEA930;
    padding: 20px 30px;
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 90px;
    z-index: 1;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    position: relative;
    z-index: 1000;
}

.description {
    font-size: 1.8rem;
    color: #afafaf;
    font-weight: bold;
    padding: 40px;
}

.part-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-img {
    max-width: 80%; /* Adjust as needed */
    height: auto;
}

@media (max-width: 768px) {
    .container2 {
        margin: auto 2%;
        margin-bottom: 200px;
    }

    .col {
        padding: 20px 40px;
    }

    .shape {
        left: 50px;
        padding: 15px;
    }

    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1.5rem;
        padding: 20px;
    }

    .part-img {
        max-width: 70%;
    }
}

@media (max-width: 576px) {
    .container2 {
        margin: auto 1%;
        margin-bottom: 100px;
    }

    .col {
        padding: 10px 20px;
    }

    .description {
        font-size: 1.2rem;
        padding: 10px;
    }

    .part-img {
        max-width: 60%;
    }
}
